# ========================
# WireGuard - SENSITIVE
# ========================
*.key
*.priv
*.pem
*.pub
presharedkey
wg0.conf
wg1.conf

# ========================
# ldown - SENSITIVE
# ========================
keys/*
!keys/.gitkeep
logs/*
!logs/.gitkeep
conf/ldown.conf

# ========================
# Configs - keep examples/defaults
# ========================
!conf/ldown.conf.example
!conf/defaults.conf
